html, body, #root {
    height: 100%;
    padding: 0;
}

/* Main layout grid */
.layout {
    display: grid;
    grid-template-columns: 250px 1fr; /* Fixed sidebar width, rest takes remaining space */
    grid-template-areas: "sidebar main";
    min-height: 100vh;
    width: 100%;
}

/* Main content area */
.content {
    grid-area: main;
    padding: 20px;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .content{
        width: 100%;
    }
}