.filter{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.filter-label{
    margin: 1px;
    padding: 2px;
    color: #000;
    white-space: nowrap;
}
.options{
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
}